body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  display: inline-block;
}

.index {
  position: static;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f9f2ec;
}

.hero-no-image {
  position: relative;
  display: flex;
  overflow: visible;
  width: 100%;
  padding: 128px 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.small-container {
  position: static;
  display: flex;
  width: auto;
  max-width: 80vw;
  padding: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-radius: 16px;
}

.content {
  position: static;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 11.250000953674316px;
  grid-row-gap: 11.250000953674316px;
}

.vectors-wrapper {
  display: flex;
  height: 96.01129913330078px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.wordmark {
  display: flex;
  padding: 11.250000953674316px;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 11.250000953674316px;
  grid-row-gap: 11.250000953674316px;
}

.vectors-wrapper-2 {
  display: flex;
  width: 75.77942657470703px;
  height: 45.54254150390625px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.vectors-wrapper-3 {
  display: flex;
  height: 47.322288513183594px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.text {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 96px;
  line-height: 120.00000476837158%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.frame-47424 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.text-2 {
  font-family: Lato, sans-serif;
  color: #037d4b;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0em;
}

.text-2.detail-d {
  color: #037d4b;
}

.text-3 {
  font-family: Lato, sans-serif;
  color: #cc3339;
  font-size: 36px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
}

.text-3.detail-d {
  color: #cc3339;
}

.button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #121417;
  background-color: #fff;
  box-shadow: 8px -8px 0 0 #037d4b;
  text-decoration: none;
}

.text-4 {
  opacity: 1;
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 24px;
  line-height: 139.9999976158142%;
  font-weight: 700;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.text-4.inverse {
  color: #fff;
}

.text-4.inverse.button-d {
  text-align: center;
}

.text-4.button-d {
  text-align: center;
}

.footer {
  display: flex;
  width: 100%;
  padding: 64px 24px 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #172736;
}

.columns {
  display: flex;
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  display: flex;
  width: 100%;
  max-width: 320px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.logo-wrapper {
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.wordmark-2 {
  display: flex;
  padding: 5.987176895141602px;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 5.987176895141602px;
  grid-row-gap: 5.987176895141602px;
}

.vectors-wrapper-4 {
  display: flex;
  width: 40.329315185546875px;
  height: 24.237442016601562px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.vectors-wrapper-5 {
  display: flex;
  height: 25.18461036682129px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.vectors-wrapper-6 {
  display: flex;
  width: 179.99998474121094px;
  height: 55.7419319152832px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.small-columns {
  display: flex;
  width: 100%;
  max-width: 600px;
  padding-top: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.column-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.content-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.text-5 {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0em;
}

.footer-links {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.link {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0em;
}

.copyright {
  display: flex;
  width: 100%;
  max-width: 940px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.text-6 {
  color: #f9f2ec;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
}

.text-7 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0em;
}

.link-2 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0em;
}

.text-8 {
  font-family: Lato, sans-serif;
  color: #f9f2ec;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
}

.frame-47425 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div-block {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 1;
  opacity: 0.8;
}

.div-block.tower {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.image {
  position: static;
  max-width: 60%;
  opacity: 0.8;
}

.index-2 {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f9f2ec;
}

.hero-no-image-2 {
  position: relative;
  display: flex;
  width: 100vw;
  padding: 128px 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.vectors-wrapper-7 {
  position: relative;
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.vectors-wrapper-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.frame-47426 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.frame-47427 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.vectors-wrapper-9 {
  display: flex;
  width: 35.84000015258789px;
  height: 32px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.vectors-wrapper-10 {
  display: flex;
  width: 25.14285659790039px;
  height: 32px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.button-2 {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #121417;
  background-color: #fff;
  box-shadow: 8px -8px 0px #037d4b;
  text-decoration: none;
}

.button-2.primary {
  box-shadow: 8px -8px 0 0 #f9f2ec, 15px -15px 0 0 #037d4b;
}

.button-2.primary.language {
  position: absolute;
  left: auto;
  top: 2%;
  right: 2%;
  bottom: auto;
  color: #000;
  font-weight: 700;
}

.button-2.secondary {
  background-color: #172736;
  box-shadow: 8px -8px 0 0 #f9f2ec, 15px -15px 0 0 #0090ff;
}

.footer-2 {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: flex;
  width: 100vw;
  margin-bottom: 0px;
  padding: 64px 24px 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-image: linear-gradient(102deg, #172736, #121417);
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 30vw;
}

.div-block-2.buddha {
  width: 35vw;
  height: auto;
}

.div-block-2.gate {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 25vw;
  height: auto;
}

.image-2 {
  position: static;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

.image-3 {
  height: auto;
}

.registration {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f9f2ec;
}

._2-columns {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.f2wf-columns-2 {
  position: relative;
  width: 100vw;
  margin-top: auto;
}

.column-3 {
  position: static;
  display: flex;
  width: 75vw;
  min-height: 1000px;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-image: var(--image-i57bf42ea);
  background-position: 50% 50%;
  background-size: cover;
}

.column-3.fhk-img {
  background-image: var(--image-i57cd5a6b);
}

.rectangle-3050 {
  position: static;
  overflow: auto;
  width: auto;
  align-self: flex-start;
  order: 0;
  flex: 0 auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.column-4 {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.logos-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 11.250000953674316px;
  grid-row-gap: 11.250000953674316px;
}

.vectors-wrapper-11 {
  display: flex;
  height: 177.08352661132812px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-9 {
  width: 25vw;
  color: #121417;
  font-size: 23px;
  line-height: 120.00000476837158%;
  font-weight: undefined;
  text-align: center;
  letter-spacing: 0em;
}

.vectors-wrapper-12 {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.register-here-to-join-the-filecoin-community-and-our-partners-this-april-at-the-fil-hong-kong-network-base-0 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 23px;
  line-height: 120.00000476837158%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
}

.register-here-to-join-the-filecoin-community-and-our-partners-this-april-at-the-fil-hong-kong-network-base-1 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 23px;
  line-height: 120.00000476837158%;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0em;
}

.html-embed {
  width: 50vw;
}

.div-block-3 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 0;
  width: 40vw;
  height: auto;
}

.registration-2 {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f9f2ec;
}

._2-columns-2 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.f2wf-columns-3 {
  width: 100vw;
}

.column-5 {
  display: flex;
  width: 100vw;
  height: auto;
  max-width: 40vw;
  min-height: 1488px;
  min-width: 340px;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-image: var(--image-i13e1af84);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-5.destor-img {
  background-image: var(--image-i491e75ab);
}

.rectangle-3051 {
  -o-object-fit: cover;
  object-fit: cover;
}

.column-6 {
  display: flex;
  width: auto;
  height: auto;
  padding: 48px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.text-10 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 45px;
  line-height: 139.9999976158142%;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0em;
}

.text-11 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 29px;
  line-height: 139.9999976158142%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
}

.text-12 {
  font-family: Lato, sans-serif;
  color: #cc3339;
  font-size: 29px;
  line-height: 139.9999976158142%;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0em;
}

.text-12.detail-d {
  color: #cc3339;
  font-weight: 700;
  text-transform: uppercase;
}

.a-free-ticket-to-filecoin-destorhk-gets-you-full-day-access-to-web3-festival-on-the-15th-of-april-limit-one-ticket-per-application-full-access-pass-restricted-to-web3-festival-4-15-23 {
  max-width: 50vw;
  color: #121417;
  font-size: 23px;
  line-height: 139.9999976158142%;
  font-weight: undefined;
  letter-spacing: 0em;
}

.frame-47428 {
  display: flex;
  max-width: 50vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.text-13 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 29px;
  line-height: 139.9999976158142%;
  font-weight: 700;
  letter-spacing: 0em;
}

.vectors-wrapper-13 {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.a-free-ticket-to-filecoin-destorhk-gets-you-full-day-access-to-web3-festival-on-the-15th-of-april-limit-one-ticket-per-application-full-access-pass-restricted-to-web3-festival-4-15-23-0 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 18px;
  line-height: 139.9999976158142%;
  font-weight: 400;
  letter-spacing: 0em;
}

.a-free-ticket-to-filecoin-destorhk-gets-you-full-day-access-to-web3-festival-on-the-15th-of-april-limit-one-ticket-per-application-full-access-pass-restricted-to-web3-festival-4-15-23-1 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 18px;
  line-height: 139.9999976158142%;
  font-weight: 700;
  letter-spacing: 0em;
}

.html-embed-2 {
  width: 50vw;
}

.div-block-4 {
  display: flex;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.style {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
}

.section {
  display: flex;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.title-d {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 71px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.header-d {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 36px;
  line-height: 120%;
  font-weight: 300;
  text-transform: uppercase;
}

.detail-d {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
}

.button-d {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 23px;
  line-height: 150%;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.body-d {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 19px;
  line-height: 150%;
  font-weight: 400;
  text-align: left;
  white-space: normal;
}

.title-m {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 36px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.header-m {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 29px;
  line-height: 150%;
  font-weight: 300;
  text-transform: uppercase;
}

.detail-m {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 29px;
  line-height: 150%;
  font-weight: 500;
}

.button-m {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 19px;
  line-height: 150%;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.body-m {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 15px;
  line-height: 150%;
  font-weight: 400;
}

.vectors-wrapper-14 {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.frame-47429 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.vectors-wrapper-15 {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.style-guide-heading {
  width: 100%;
  max-width: 340px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 42px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.style-guide-infotext-large {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.style-guide-wrapper {
  display: flex;
  padding: 24px;
  flex-direction: row;
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-style: solid;
  border-width: 1px 0px 0px;
  border-color: #dcdcdc;
}

.fill-style {
  display: flex;
  padding: 0;
  flex-direction: row;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.color-swatch-white {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
}

.style-guide-info-text {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.color-swatch-ffffff {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
}

.color-swatch-hk-green {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #037d4b;
}

.color-swatch-fil-blue {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #0090ff;
}

.color-swatch-hk-red {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #cc3339;
}

.color-swatch-hk-gold {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fccb36;
}

.color-swatch-hk-ink {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #121417;
}

.color-swatch-hk-sky-blue {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #172736;
}

.color-swatch-hk-mid-white {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fdfaf7;
}

.color-swatch-hk-off-white {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f9f2ec;
}

.color-swatch-hk-grad---ry {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #cc3339, #fccb36);
}

.color-swatch-hk-grad-blue-black {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #172736, #121417);
}

.color-swatch-847d64 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #847d64;
}

.color-swatch-000000 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
}

.color-swatch-003662 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #003662;
}

.color-swatch-ffcc33 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fc3;
}

.color-swatch-0090ff {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #0090ff;
}

.color-swatch-f0644d {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f0644d;
}

.color-swatch-f7efd4 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f7efd4;
}

.color-swatch-fl-dark {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #003662;
}

.color-swatch-fl-red {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f0644d;
}

.color-swatch-mono-black {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
}

.color-swatch-mono-white {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
}

.color-swatch-ff-blue-8 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #08072e;
}

.color-styles-wrapper {
  display: -ms-grid;
  display: grid;
  padding: 0px;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.styles-wrapper {
  display: flex;
  padding: 24px;
  flex-direction: row;
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-style: solid;
  border-width: 1px 0px 0px;
  border-color: #dcdcdc;
}

.styles-guide-section {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.hero-heading-left {
  position: static;
  display: flex;
  padding: 64px 24px;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fdfaf7;
}

.container-2 {
  display: flex;
  justify-content: flex-start;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.f2wf-columns-4 {
  width: 80vw;
  flex-direction: row;
}

.column-7 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.content-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.frame-47430 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.title-copy-goes-here-be-awesome {
  font-family: Lato, sans-serif;
  color: #172736;
  font-size: 36px;
  line-height: 120%;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title-copy-goes-here-be-awesome-2 {
  font-family: Lato, sans-serif;
  color: #cc3339;
  font-size: 56px;
  line-height: 120%;
  font-weight: 700;
}

.body-d-2 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 19px;
  line-height: 150%;
  font-weight: 400;
}

.button-3 {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #121417;
  background-color: #fff;
  box-shadow: 8px -8px 0px #037d4b;
  text-decoration: none;
}

.text-14 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  text-transform: uppercase;
}

.column-8 {
  display: flex;
  height: 666px;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image-wrapper {
  display: flex;
  height: 666px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.image-5 {
  display: flex;
  height: 666px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-style: solid;
  border-width: 8px;
  border-color: #cc3339;
  box-shadow: 8px -8px 0 0 #f9f2ec, 16px -16px 0 0 #037d4b;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-d {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #cc3339;
  font-size: 57px;
  line-height: 57px;
}

.gallery-scroll {
  display: flex;
  width: 100%;
  padding: 64px 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #f9f2ec;
}

.columns-2 {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.content-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

.frame-47431 {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.title-copy-goes-here-be-awesome-3 {
  font-family: Lato, sans-serif;
  color: #cc3339;
  font-size: 57px;
  line-height: 120%;
  font-weight: 700;
}

.image-wrapper-2 {
  display: flex;
  width: 80vw;
  height: auto;
  padding: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  border-style: none;
  border-width: 8px;
  border-color: #0090ff;
  background-color: #fdfaf7;
  box-shadow: 8px -8px 0 0 #f9f2ec, 16px -16px 0 0 #037d4b;
}

.frame-47432 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.button-d-2 {
  min-width: 170px;
  font-family: Lato, sans-serif;
  color: #037d4b;
  font-size: 23px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.text-15 {
  color: #cc3339;
  font-size: 23px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.frame-47433 {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.detail-d-2 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
}

.frame-47434 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

.button-4 {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #172736;
  background-color: #172736;
  box-shadow: 8px -8px 0px #0090ff;
  text-decoration: none;
}

.text-16 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  text-transform: uppercase;
}

.hkcec-wan-chai-0 {
  font-family: Lato, sans-serif;
  color: #cc3339;
  font-size: 23px;
  line-height: 150%;
  font-weight: 700;
  text-transform: uppercase;
}

.hkcec-wan-chai-1 {
  font-family: Lato, sans-serif;
  color: #cc3339;
  font-size: 23px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-stack {
  display: flex;
  padding: 64px 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fdfaf7;
}

.small-container-2 {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.title-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.frame-47435 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.title-copy-goes-here-be-awesome-4 {
  font-family: Lato, sans-serif;
  color: #172736;
  font-size: 36px;
  line-height: 120%;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title-copy-goes-here-be-awesome-5 {
  font-family: Lato, sans-serif;
  color: #cc3339;
  font-size: 56px;
  line-height: 120%;
  font-weight: 700;
}

.text-17 {
  color: #212121;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

.image-wrapper-3 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.image-6 {
  position: relative;
  z-index: 0;
  display: flex;
  width: 960px;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: var(--image-58d585b3);
  background-size: cover;
  background-repeat: no-repeat;
}

.map-img {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  -ms-grid-row-align: auto;
  align-self: auto;
  box-shadow: 8px -8px 0 0 #f9f2ec, 16px -16px 0 0 #037d4b;
  -o-object-fit: cover;
  object-fit: cover;
}

.vectors-wrapper-16 {
  position: relative;
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.map-pin {
  position: absolute;
  left: auto;
  top: auto;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.map-pin.centerspace {
  left: 15%;
  top: auto;
  right: auto;
  bottom: 20%;
  flex: 0 auto;
}

.map-pin.hkcec {
  left: auto;
  top: auto;
  right: 7%;
  bottom: 14%;
}

.button-s {
  font-family: Lato, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.button-s.hkcec {
  background-color: #cc3339;
}

.hero-stack-2 {
  display: flex;
  width: 100%;
  padding: 64px 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fdfaf7;
}

.frame-47436 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-18 {
  font-family: Lato, sans-serif;
  color: #cc3339;
  font-size: 19px;
  line-height: 150%;
  font-weight: 700;
}

.body-d-3 {
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 19px;
  line-height: 150%;
  font-weight: 400;
}

.body-d-4 {
  opacity: 0.6;
  font-family: Lato, sans-serif;
  color: #121417;
  font-size: 19px;
  line-height: 150%;
  font-weight: 400;
}

.body-d-5 {
  opacity: 0.6;
  font-family: Lato, sans-serif;
  color: #172736;
  font-size: 19px;
  line-height: 150%;
  font-weight: 400;
}

.text-19 {
  font-family: Lato, sans-serif;
  color: #0090ff;
  font-size: 19px;
  line-height: 150%;
  font-weight: 700;
}

.image-7 {
  display: flex;
  width: 100%;
  height: 600px;
  min-height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: var(--image-c8a503c);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-img-2 {
  box-shadow: 16px -16px 0px #037d4b, 8px -8px 0px #f9f2ec;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .text {
    min-width: auto;
  }

  .f2wf-columns {
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
  }

  .column {
    align-items: center;
  }

  .logo-wrapper {
    padding-bottom: 60px;
    align-items: center;
  }

  .f2wf-small-columns {
    padding-top: 0px;
    flex-direction: column;
  }

  .content-2 {
    align-items: center;
  }

  .footer-links {
    align-items: center;
  }

  .div-block {
    top: 690px;
  }

  .hero-no-image-2 {
    position: relative;
  }

  .vectors-wrapper-8 {
    max-width: 100vw;
  }

  .footer-2 {
    position: relative;
  }

  .div-block-2 {
    z-index: 0;
    width: 40%;
  }

  .div-block-2.buddha {
    width: 50vw;
    height: auto;
  }

  .div-block-2.gate {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .f2wf-columns-2 {
    flex-direction: column;
    align-items: center;
  }

  .column-3 {
    overflow: visible;
    width: 100vw;
    height: auto;
    min-height: 400px;
    background-position: 50% -100px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text-9 {
    width: 80vw;
  }

  .register-here-to-join-the-filecoin-community-and-our-partners-this-april-at-the-fil-hong-kong-network-base-0 {
    width: 80vw;
  }

  .html-embed {
    width: 80vw;
  }

  .f2wf-columns-3 {
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .column-5 {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    min-height: 226px;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-position: 50% 0%;
  }

  .column-6 {
    flex-direction: column;
    align-items: center;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .a-free-ticket-to-filecoin-destorhk-gets-you-full-day-access-to-web3-festival-on-the-15th-of-april-limit-one-ticket-per-application-full-access-pass-restricted-to-web3-festival-4-15-23 {
    max-width: 100vw;
  }

  .frame-47428 {
    max-width: 100vw;
  }

  .text-13 {
    max-width: 100vw;
  }

  .div-block-4 {
    width: 90vw;
    justify-content: center;
    flex: 1;
  }

  .style-guide-wrapper {
    flex-direction: column;
  }

  .styles-wrapper {
    flex-direction: column;
  }

  .f2wf-columns-4 {
    flex-direction: column;
    align-items: center;
  }

  .content-3 {
    width: 90vw;
    justify-content: flex-start;
    align-items: flex-start;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .frame-47430 {
    display: flex;
    align-items: flex-start;
  }

  .image-wrapper {
    width: 100vw;
  }

  .image-5 {
    width: 90vw;
  }

  .image-wrapper-2 {
    width: 95vw;
    min-height: 300px;
    align-items: flex-start;
    flex: 0 auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .frame-47432 {
    width: 190px;
  }

  .button-d-2 {
    align-self: flex-start;
  }

  .frame-47433 {
    width: 80vw;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .image-6 {
    width: 100vw;
    height: 400px;
    -ms-grid-row-align: center;
    align-self: center;
    background-position: 50% 100%;
  }

  .map-pin.centerspace {
    bottom: 23%;
  }

  .map-pin.hkcec {
    right: 4%;
  }
}

@media screen and (max-width: 767px) {
  .text {
    font-size: 60px;
  }

  .text-2 {
    font-size: 29px;
  }

  .text-3 {
    font-size: 29px;
  }

  .text-4.button-d {
    font-size: 14.719999999999999px;
  }

  .logo-wrapper {
    align-items: center;
  }

  .f2wf-small-columns {
    flex-direction: column;
    align-items: center;
  }

  .vectors-wrapper-8 {
    position: static;
    height: 140px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .button-2.primary.language.en.button-d {
    font-size: 19px;
  }

  .column-3 {
    width: 100vw;
    background-position: 50% -100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .vectors-wrapper-11 {
    height: 150px;
  }

  .column-5 {
    min-height: 210px;
    background-position: 50% 4%;
    background-size: 990px;
  }

  .text-10 {
    width: 60vw;
  }

  .text-10.title-d {
    font-size: 56.8px;
  }

  .color-styles-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .image-wrapper-2 {
    width: 90vw;
    min-height: 410px;
    flex-direction: column;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .frame-47432 {
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
    -ms-grid-row-align: center;
    align-self: center;
    flex: 0 auto;
  }

  .text-15 {
    text-align: right;
  }

  .frame-47433 {
    width: auto;
  }

  .image-6 {
    height: 300px;
  }

  .map-pin {
    flex-direction: column;
  }

  .map-pin.centerspace {
    left: 5%;
    bottom: 5%;
  }

  .map-pin.hkcec {
    right: 12%;
    bottom: -2%;
  }
}

@media screen and (max-width: 479px) {
  .vectors-wrapper {
    height: 70px;
  }

  .text {
    font-size: 30.4px;
  }

  .text-2 {
    font-size: 19px;
  }

  .text-3 {
    font-size: 19px;
  }

  .text-4 {
    font-size: 15px;
    text-align: center;
  }

  .index-2 {
    height: auto;
  }

  .hero-no-image-2 {
    width: 100vw;
  }

  .vectors-wrapper-8 {
    height: auto;
    max-width: 80vw;
  }

  .frame-47426 {
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .vectors-wrapper-9 {
    width: auto;
    height: 20px;
  }

  .vectors-wrapper-10 {
    width: auto;
    height: 24px;
  }

  .button-2.primary {
    box-shadow: 4px -4px 0 0 #f9f2ec, 8px -8px 0 0 #037d4b;
  }

  .button-2.primary.language.tc {
    top: 20px;
    right: 20px;
  }

  .button-2.primary.language.tc.button-d {
    font-size: 19px;
  }

  .button-2.primary.language.en {
    top: 20px;
    right: 20px;
  }

  .button-2.secondary {
    box-shadow: 4px -4px 0 0 #f9f2ec, 8px -8px 0 0 #0090ff;
  }

  .div-block-2.gate {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 40vw;
    height: auto;
  }

  .image-2 {
    width: 90vw;
    height: 300px;
  }

  .f2wf-columns-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .column-3 {
    width: 100vw;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 0px;
    background-position: 50% 0%;
    background-size: contain;
    background-attachment: fixed;
  }

  .vectors-wrapper-11 {
    height: 70px;
  }

  .register-here-to-join-the-filecoin-community-and-our-partners-this-april-at-the-fil-hong-kong-network-base-0 {
    font-size: 18px;
  }

  .register-here-to-join-the-filecoin-community-and-our-partners-this-april-at-the-fil-hong-kong-network-base-1 {
    font-size: 18px;
  }

  .column-5 {
    min-height: 240px;
    background-position: 50% 1%;
    background-size: 990px;
  }

  .column-6 {
    padding: 36px;
    grid-column-gap: 36px;
    grid-row-gap: 36px;
  }

  .text-10 {
    width: 80vw;
    font-size: 36px;
  }

  .text-10.title-d {
    font-size: 36.352px;
  }

  .text-11 {
    font-size: 23px;
  }

  .text-11.detail-d {
    font-size: 18.4px;
  }

  .text-12 {
    font-size: 23px;
  }

  .text-12.detail-d {
    font-size: 18.4px;
  }

  .a-free-ticket-to-filecoin-destorhk-gets-you-full-day-access-to-web3-festival-on-the-15th-of-april-limit-one-ticket-per-application-full-access-pass-restricted-to-web3-festival-4-15-23 {
    font-size: 15px;
  }

  .text-13 {
    font-size: 23px;
  }

  .text-13.detail-d {
    font-size: 18px;
    font-weight: 700;
  }

  .a-free-ticket-to-filecoin-destorhk-gets-you-full-day-access-to-web3-festival-on-the-15th-of-april-limit-one-ticket-per-application-full-access-pass-restricted-to-web3-festival-4-15-23-0 {
    font-size: 15px;
  }

  .a-free-ticket-to-filecoin-destorhk-gets-you-full-day-access-to-web3-festival-on-the-15th-of-april-limit-one-ticket-per-application-full-access-pass-restricted-to-web3-festival-4-15-23-0.body-d {
    font-size: 15px;
  }

  .a-free-ticket-to-filecoin-destorhk-gets-you-full-day-access-to-web3-festival-on-the-15th-of-april-limit-one-ticket-per-application-full-access-pass-restricted-to-web3-festival-4-15-23-1 {
    font-size: 15px;
  }

  .html-embed-2 {
    width: 80vw;
  }

  .div-block-4 {
    flex-direction: column;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .column-7 {
    width: auto;
  }

  .content-3 {
    align-items: flex-start;
  }

  .section-d {
    font-size: 41px;
    line-height: 41px;
  }

  .image-wrapper-2 {
    width: 85vw;
  }

  .frame-47432 {
    width: 75vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .text-15 {
    text-align: left;
  }

  .frame-47433 {
    width: 75vw;
    height: auto;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .image-6 {
    height: 200px;
    background-size: cover;
  }

  .map-pin.centerspace {
    left: 3%;
    bottom: 3%;
  }

  .map-pin.hkcec {
    right: 9%;
    bottom: -6%;
  }

  .button-s {
    padding-right: 6px;
    padding-left: 6px;
    line-height: 15px;
  }
}